
.picture-list {
  padding: 3em 0 4.5em;
  text-align: center;
}

.picture-list article {
  text-align: left;
  max-width: 33em;
  margin: 6em auto;
  padding: 0 1.5em;
}
.picture-list article {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.picture-list article h1,
.picture-list article h2,
.picture-list article h3,
.picture-list article h4,
.picture-list article h5,
.picture-list article h6 {
  margin-top: 3em;
  font-family: "Fredericka the Great", "Helvetica Neue", Helvetica, sans-serif;
}
.picture-list article dt {
  font-weight: bold;
  margin-top: 1.5em;
}
.picture-list article dd {
  margin-left: 0;
}

@media (min-width: 40em) {
  .picture-list {
    padding-top: 7.5em;
    padding-bottom: 7.5em;
  }
}
.picture-list h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0.75em;
  padding-right: 0.75em;
  font-size: 2em;
}
.picture-list h1 + p {
  margin-top: 0;
  margin-bottom: 1.5em;
  opacity: 0.5;
}
.picture-list a {
  color: rgb(255, 49, 102); /* @strawberry */
  color: rgb(101, 156, 247); /* @boysenberry */
  color: hsl(193, 70%, 60%); /* @aqua */
}
.picture-list a:visited {
  color: rgb(101, 156, 247); /* @boysenberry */
  color: hsl(193, 70%, 60%); /* @aqua */
}
.picture-list .action a {
  display: inline-block;
  padding: 0.5em 1.5em;
  background: rgb(255, 49, 102); /* @strawberry */
  background: rgb(101, 156, 247); /* @boysenberry */
  background: hsl(193, 70%, 60%); /* @aqua */
  color: white;
  border-radius: 0.25em;
  text-decoration: none;
  text-transform: lowercase;
}
.picture-list .action a:visited {
  background-color: rgb(101, 156, 247); /* @boysenberry */
  background-color: hsl(193, 70%, 60%); /* @aqua */
  color: white;
}
.picture-list > ol,
.picture-list > ol li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.picture-list > ol {
  margin: 4.5em 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.picture-list > ol li {
  margin: 3vw;
  flex-basis: calc(100vw / 1 - 3vw * 3);
}
.picture-list > ol li {
  position: relative;
  width: calc(100vw / 1 - 3vw * 3);
  height: calc(100vw / 1 - 3vw * 3);
}
@media (min-width: 30em) {
  .picture-list > ol li {
    margin: 3vw;
    flex-basis: calc(100vw / 2 - 3vw * 3);
  }
  
  .picture-list > ol li {
    width: calc(100vw / 2 - 3vw * 3);
    height: calc(100vw / 2 - 3vw * 3);
  }
}
@media (min-width: 60em) {
  .picture-list__has-captions li {
    flex-basis: calc(100vw / 3 - 3vw * 3);
  }
  
  .picture-list__has-captions li {
    width: calc(100vw / 3 - 3vw * 3);
    height: calc(100vw / 3 - 3vw * 3);
  }
}
.picture-list > ol li a {
  display: block;
  box-sizing: border-box;
  transition: opacity 0.2s;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-list > ol li a:hover,
.picture-list > ol li a:active,
.picture-list > ol li a:focus {
  opacity: 0.85;
}


.picture-list .caption {
  display: block;
  text-align: left;
  text-decoration: underline;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: hsl(193, 70%, 60%);
  color: white;
  padding: 0 0.375em;

  margin: 2.25em 0.75em;
  padding: 0.525em 0.875em 0.5em 0.875em;

  background-color: white;
  color: hsl(193, 70%, 60%);
}
@media (max-width: calc(320px + 0.75em)) {
  .picture-list .caption {
    margin-left: 0.75em;
  }
}

