
.picture-details {
  background: rgb(25, 25, 25);
  color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture-details p {
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: left;
}
@media (min-width: 20em) {
  .picture-details .download {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}
.picture-details a {
  color: rgb(255, 49, 102); /* @strawberry */
  color: rgb(101, 156, 247); /* @boysenberry */
  color: hsl(193, 70%, 60%); /* @aqua */
}
.picture-details .disabled a:visited {
  color: rgb(101, 156, 247); /* @boysenberry */
  color: hsl(193, 70%, 60%); /* @aqua */
}
.picture-details .all {
  position: relative;
  z-index: 1;
}
/* .picture-details .download a {
  color: inherit;
} */
.picture-details .close {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.picture-details svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
}
.picture-details .download svg {
  width: 0.75em;
  height: 0.75em;
  display: none;
}
.picture-details nav ul,
.picture-details nav li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.picture-details nav li a {
  position: absolute;
  padding-right: 0.75em;
  padding-left: 0.75em;
  transition: opacity 0.2s;
  opacity: 0.75;
  color: inherit;
}
.picture-details nav li a:hover,
.picture-details nav li a:active,
.picture-details nav li a:focus {
  opacity: 1;
}
.picture-details .next a {
  right: 0;
}
.picture-details .previous a {
  left: 0;
}
@media (min-width: 40em) {
  .picture-details svg {
    font-size: 2vmax;
  }
}
.picture-details nav li a {
  top: 4.5em;
  height: 80%;
  height: calc(100vh - 9em);
  display: flex;
  align-items: center;
  padding-right: 1.5em;
  padding-left: 1.5em;
  box-sizing: border-box;
}
/*
@media (max-aspect-ratio: 3/2) {
  nav .picture-details li a {
    background: black;
    color: white;
  }
}
*/
.picture-details header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.picture-details figure {
  margin: 0 auto;
  height: 100vmin;
  width: 100vmin
}
/* .picture-details video,
.picture-details img {
  max-width: 100%;
  height: auto;
} */
/* @supports (object-fit: contain) {
  .picture-details video,
  .picture-details img {
    width: 100%;
    height: calc(100vh - 7em);
    object-fit: contain;
  }
} */
