
.picture-details {
  background: rgb(25, 25, 25);
  color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture-details h1,
.picture-details p {
  margin: 0;
  text-align: left;
}
.picture-details h1 {
  font-size: inherit;
  font-weight: inherit;
}
.picture-details h1::after {
  content: "/";
  margin: 0 0.5em;
}
.picture-details .download {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.picture-details a {
  color: hsl(193, 70%, 60%); /* @aqua */
}
.picture-details .all a {
  /* SHIM: Make close button easier to press */
  display: inline-block;
  padding: 3em;
  margin: -3em;
  position: relative;
  z-index: 1;
}
.picture-details .disabled a:visited {
  color: hsl(193, 70%, 60%); /* @aqua */
}
.picture-details .all {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1.5em;
}
.picture-details svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
}
.picture-details .download {
  padding: 1em 1.5em;
}
.picture-details .download svg {
  width: 0.75em;
  height: 0.75em;
  display: none;
}
.picture-details nav ul,
.picture-details nav li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.picture-details nav li a {
  position: absolute;
  padding-right: 0.75em;
  padding-left: 0.75em;
  transition: opacity 0.2s;
  opacity: 0.75;
  color: inherit;
}
.picture-details nav li a:hover,
.picture-details nav li a:active,
.picture-details nav li a:focus {
  opacity: 1;
}
.picture-details .next a {
  right: 0;
}
.picture-details .previous a {
  left: 0;
}
@media (min-width: 40em) {
  .picture-details svg {
    font-size: 2vmax;
  }
}
.picture-details nav li a {
  top: 4.5em;
  height: 80%;
  height: calc(100vh - 9em);
  display: flex;
  align-items: center;
  padding-right: 1.5em;
  padding-left: 1.5em;
  box-sizing: border-box;
}
.picture-details figure {
  margin: 0;
}
